{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>ACoolName</h1>
    <p class="lead">ACoolName is an online forum to discuss just about anything and connect with other people that share similar interests.</p>
    <p><a href="http://notyetimplemented.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p>
            When you first sign up with a ACoolName account, your profile will be hidden from all other users.
            You will be able to access the anonymous forum by viewing posts and replying to users anonymously.
        </p>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Sign up &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Engage</h2>
        <p>Get involved with the community by participating on the anonymous forum.
        Scout posts of interests and engage with other anonymous users on the platform.
        The more you engage, the better we will be able to suggest compatible users.</p>
        <p><a class="btn btn-default" href="https://notyetimplemented.com">Browse posts &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Connect</h2>
        <p>We will regularly suggest profiles for you to unlock based on similar interest and compatibility score.
        Likewise, your profile will be suggested to the users we find compatible. If there's a match, you will
        be able to view the full profile and connect with .</p>
        <p><a class="btn btn-default" href="http://notyetimplemented.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
